{% extends 'base.html' %}

{% block title %}
cart
{% endblock title %}



{% block content %}




<div class="container">
    <div class="row  row-cols-1 row-cols-md-2 mt-3  ">
        <div class="col-md-8" style="height: 90vh; overflow-y: scroll; scroll-behavior: smooth;">
            <!-- <h1 class=" mt-2 mb-5">Cart Items</h1> -->

            <table class="table">
                <thead class="">
                    <tr class="">
                        <td>Img</td>
                        <td>Item Name</td>
                        <td class="">Origional Price</td>
                        <td>Current Price</td>
                        <td>Action</td>
                    </tr>
                </thead>


                {% for item in cart %}
                <tr>
                    <td>
                        <img class="table-img" src="{{item.product.image.url}}" alt="image" height="110px"
                            width="100px">
                    </td>
                    <td>{{item.product.name}}</td>
                    <td>
                        <!-- <div class="input-group mb-3 ps-3">
                                    <button class="btn " onclick="minus()"><i class="fa-solid fa-minus"></i></button>

                                    <input id="count" type="text" min="0" max="10" class="rounded-3 text-center mx-1"
                                        aria-label="" value="1" style="width: 10%; ">

                                    <button class="btn  " onclick="plus()"><i class="fa-solid fa-plus"></i></button>
                                </div> -->
                        {{item.product.max_price}}
                    </td>
                    <td>{{item.product.current_price}}</td>

                    <td>
                        <a href="{% url 'product' item.product.id %}" class="btn btn-primary  w-75 p-1 my-1">Buy</a>
                        <a href="{% url 'remove_from_cart' item.product.id %}"
                            class="btn btn-danger w-75 p-1 my-1">Remove</a>
                    </td>
                </tr>
                {% endfor %}


            </table>
        </div>
        <div class="col-3 ms-md-5  d-none d-sm-block justify-content-end">
            <h1 class="mt-2 mb-2">Total </h1>
            <hr>

            <h5 class="my-3">Total Amount : <br>
                <span style="text-decoration: line-through;">{{total}}</span>
            </h5>
            <h6 class="my-4">
                total discount :
                <span class="bg-danger p-2  px-4 rounded-pill">{{off}} Off</span>
            </h6>
            <h3 class="my-4">After Discount: <br>
                <span>{{current_price}}</span>
            </h3>


            <a href="" class="btn btn-primary w-100">Checkout</a>

        </div>
    </div>
</div>
<script>
    function plus() {
        let val = document.getElementById('count')
        let temp = Number(val.value)

        if (temp !== 10) {
            temp += 1
            val.value = temp
        }
    }
    function minus() {
        val = document.getElementById('count')

        let temp = Number(val.value)
        if (temp !== 1) {
            temp -= 1
            val.value = temp
        }
    }
</script>

{% endblock content %}