{% extends 'base.html' %}


{% block title %}
review-form
{% endblock title %}




{% block content %}


<div class="container mt-4 w-sm-75">
    {% if  show %}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <div class="card text-center">

        <h5 class="card-header p-3">Write Review</h5>
        <div class="card-body">
            <form action="" method="post">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <input type="file" id="myFile" name="filename" class="form-control my-4 p-3 ">

                <textarea name="" id="" cols="30" rows="10" class="form-control mt-4 p-3"
                    placeholder="Write your review here..."></textarea>

                <a href=" #" class="btn btn-danger mt-4 mx-2 px-5 py-2" type=>Discard</a>
                <a href="#" class="btn btn-primary mt-4 mx-2  px-5 py-2" type="submit">Upload</a>

            </form>
        </div>
    </div>


</div>



{% endblock content %}